@import "./abstract/mixins","./abstract/variables";
@import "./base/reset";
@import "./compenents/footer","./compenents/nav","./compenents/responsive.scss";
@import "./pages/about","./pages/contact","./pages/home","./pages/project";

body{
    font-family: $font-family;
    background-color: $primary-color;
    color: $text-color;
    height: 100vh;
    line-height: 1;
}
a{
    color:$text-color;
}
h1,h2,h3{
    font-weight: 400;
}