// Color
$primary-color: #272727;
$secondary-color: cadetblue;
$text-color: #fff;
// font
$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
// Path
$pathName1: "../../img/pexels-bri-schneiter-346529.jpg";
$pathName2: "../../img/contact.jpg";
